body {
  background: white;
}

.search {
  width: 500px;
}

.search-div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

video {
  border-radius: 20px; 
}

.video-player {
  margin-top: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shots-table {
  margin-top: 40px;
  width: 450px;
  height: 700px;
  overflow:auto;
}
